scope: {{ patroni_scope}}
namespace: /{consul_namespace | default('database')}/
name: {{ node_host  }}

restapi:
  listen: 0.0.0.0:8008
  connect_address: {{ hostname | default('localhost') }}:8008
{% if restapi_patroni_cert is defined and restapi_patroni_cert|length %}  cafile: {{ restapi_patroni_cacert  | default('localhost') }}
  certfile: {{ restapi_patroni_cert  | default('localhost')}}
  keyfile: {{ restapi_patroni_key  | default('localhost') }}
{% endif %}{% if restapi_patroni_username is defined and restapi_patroni_password|length %}  authentication:
    username: {{ restapi_patroni_username  | default('user') }}
    password: {{ restapi_patroni_password  | default('password') }}
{% endif %}

consul:
  host: {{ consul_host }}
  token: {{ consul_token }}
  scheme: {{ consul_scheme | default ('https')}}
{% if consul_patroni_cert is defined and consul_patroni_cert|length %}  cacert: {{ consul_patroni_cacert }}
  cert: {{ consul_patroni_cert }}
  key: {{ consul_patroni_key }}
{% endif %}

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      parameters:
        wal_level: hot_standby
        hot_standby: "on"
        wal_keep_segments: {{ pg_wal_keep_segments }}
        max_wal_senders: {{ pg_max_wal_senders }}
        max_replication_slots: 10
        wal_log_hints: "on"

  initdb:
  - locale: UTF8
  - encoding: UTF8
  - data-checksums

  pg_hba:
{% if pg_ssl is defined and pg_ssl|length  and pg_ssl == "on" %}  - hostssl all all 0.0.0.0/0 md5
  - hostssl replication {{ pg_rep_user }} 0.0.0.0/0 md5
  - hostssl all repmgr 0.0.0.0/0 md5
{% else %}  - host all all 0.0.0.0/0 md5
  - host replication {{ pg_rep_user }} 0.0.0.0/0 md5
  - host all repmgr 0.0.0.0/0 md5
{% endif %}


  users:
    {{ patroni_db_admin_user | default('patroni_admin') }}:
      password: {{ patroni_db_admin_password | default(postgres_password) | default('admin')}}
      options:
        - createrole
        - createdb

postgresql:
  listen: 0.0.0.0:5432
  connect_address: {{ node_host }}:{{ pg_port }}
  data_dir: {{ pgdata }}
  pgpass: {{ pg_config_dir }}/.pgpass
  authentication:
    replication:
      username: {{ pg_rep_user }}
      password:  {{pg_rep_password}}
    superuser:
      username: {{ postgres_user }}
      password: {{ postgres_password }}
  parameters:
    unix_socket_directories: '.'

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false